# Production tonnes dataset 
Data Set Information:
Production tonnes and other information collected along with it.


Attribute Information:

1. 'equipment',
2. 'date',
3. 'shift',
4. 'tonnes',
5. 'tonnes\nper\nday',
6. 'tonnes\nper\ncuthr',
7. 'tonnes\nper\nophr',
8. 'metres',
9. 'metres\nper\nday',
10. 'metres\nper\ncuthr',
11. 'metres\nper\nophr',
12. 'shears',
13. 'shears\nper\nday',
14. 'shears\nper\ncuthr',
15. 'shears\nper\nophr',
16. 'bolts',
17. 'bolts\nper\nday',
18. 'cars',
19. 'cars\nper\nday',
20. 'cutting\nheight',
21. 'cuthr',
22. 'ophrs',
23. 'e/m/p\nhrs',
24. 'sno\n&\nnst',
25. 'total\nhrs',
26. 'op%'

In [1]:
from boab import Boab

In [4]:
bo = Boab()
bo.load_data('t.csv')
#loads of missing data, NAN, zeros and maybe some bad types
bo.df.shape

(1686, 26)

In [3]:
bo.fix_types()

Column: equipment
Number nans: 1686
Column: shift
Number nans: 1686

  equipment       date shift  tonnes  tonnes\nper\nday  tonnes\nper\ncuthr  \
0   MY1110L 2018-07-15    WA    0.00            850.00            0.000000
1   MY1110L 2018-07-15    WD    0.00            850.00            0.000000
2   MY1110L 2018-07-15    WN  850.00            850.00          211.618257
3   MY1110L 2018-07-16     A  521.53           1613.78          142.235455
4   MY1110L 2018-07-16     D  413.28           1613.78          177.120000

   tonnes\nper\nophr  metres  metres\nper\nday  metres\nper\ncuthr    ...     \
0           0.000000     0.0               0.0                 0.0    ...
1           0.000000     0.0               0.0                 0.0    ...
2         161.392405     0.0               0.0                 0.0    ...
3          80.235385     0.0               0.0                 0.0    ...
4          82.656000     0.0               0.0                 0.0    ...

   bolts\nper\nday  cars  cars\nper\nday  cutting\nheight     cuthr     ophrs  \
0              0.0   0.0            85.0              0.0  0.000000  0.000000
1              0.0   0.0            85.0              0.0  0.000000  0.000000
2              0.0  85.0            85.0              0.0  4.016667  5.266667
3            144.0  53.0           164.0              0.0  3.666667  6.500000
4            144.0  42.0           164.0              0.0  2.333333  5.000000

   e/m/p\nhrs  sno\n&\nnst  total\nhrs       op%
0    0.000000     6.000000        6.00  0.000000
1    0.000000     6.000000        6.00  0.000000
2    3.900000     2.833333       12.00  0.438889
3    0.250000     0.500000        7.25  0.896552
4    1.583333     1.916667        8.50  0.588235

[5 rows x 26 columns]

In [5]:
bo.fix_missing()

Column: tonnes Numeric
Column: tonnes
per
day Numeric
Column: tonnes
per
cuthr Numeric
Column: tonnes
per
ophr Numeric
Column: metres Numeric
Column: metres
per
day Numeric
Column: metres
per
cuthr Numeric
Column: metres
per
ophr Numeric
Column: shears Numeric
Column: shears
per
day Numeric
Column: shears
per
cuthr Numeric
Column: shears
per
ophr Numeric
Column: bolts Numeric
Column: bolts
per
day Numeric
Column: cars Numeric
Column: cars
per
day Numeric
Column: cutting
height Numeric
Column: cuthr Numeric
Column: ophrs Numeric
Column: e/m/p
hrs Numeric
Column: sno
&
nst Numeric
Column: total
hrs Numeric
Column: op% Numeric

  equipment        date shift  tonnes  tonnes\nper\nday  tonnes\nper\ncuthr  \
0   MY1110L  15/07/2018    WA    0.00            850.00            0.000000
1   MY1110L  15/07/2018    WD    0.00            850.00            0.000000
2   MY1110L  15/07/2018    WN  850.00            850.00          211.618257
3   MY1110L  16/07/2018     A  521.53           1613.78          142.235455
4   MY1110L  16/07/2018     D  413.28           1613.78          177.120000

   tonnes\nper\nophr  metres  metres\nper\nday  metres\nper\ncuthr    ...     \
0           0.000000     0.0               0.0                 0.0    ...
1           0.000000     0.0               0.0                 0.0    ...
2         161.392405     0.0               0.0                 0.0    ...
3          80.235385     0.0               0.0                 0.0    ...
4          82.656000     0.0               0.0                 0.0    ...

   bolts\nper\nday  cars  cars\nper\nday  cutting\nheight     cuthr     ophrs  \
0              0.0   0.0            85.0              0.0  0.000000  0.000000
1              0.0   0.0            85.0              0.0  0.000000  0.000000
2              0.0  85.0            85.0              0.0  4.016667  5.266667
3            144.0  53.0           164.0              0.0  3.666667  6.500000
4            144.0  42.0           164.0              0.0  2.333333  5.000000

   e/m/p\nhrs  sno\n&\nnst  total\nhrs       op%
0    0.000000     6.000000        6.00  0.000000
1    0.000000     6.000000        6.00  0.000000
2    3.900000     2.833333       12.00  0.438889
3    0.250000     0.500000        7.25  0.896552
4    1.583333     1.916667        8.50  0.588235

[5 rows x 26 columns]

In [8]:
bo.make_discrete_datetime_cols()

AttributeError: Can only use .dt accessor with datetimelike values

In [7]:
print(bo.df.head())
list(bo.df.columns)[1:]

  equipment        date shift  tonnes  tonnes\nper\nday  tonnes\nper\ncuthr  \
0   MY1110L  15/07/2018    WA    0.00            850.00            0.000000
1   MY1110L  15/07/2018    WD    0.00            850.00            0.000000
2   MY1110L  15/07/2018    WN  850.00            850.00          211.618257
3   MY1110L  16/07/2018     A  521.53           1613.78          142.235455
4   MY1110L  16/07/2018     D  413.28           1613.78          177.120000

   tonnes\nper\nophr  metres  metres\nper\nday  metres\nper\ncuthr    ...     \
0           0.000000     0.0               0.0                 0.0    ...
1           0.000000     0.0               0.0                 0.0    ...
2         161.392405     0.0               0.0                 0.0    ...
3          80.235385     0.0               0.0                 0.0    ...
4          82.656000     0.0               0.0                 0.0    ...

   bolts\nper\nday  cars  cars\nper\nday  cutting\nheight     cuthr     ophrs  \
0              0.0   0.0            85.0              0.0  0.000000  0.000000
1              0.0   0.0            85.0              0.0  0.000000  0.000000
2              0.0  85.0            85.0              0.0  4.016667  5.266667
3            144.0  53.0           164.0              0.0  3.666667  6.500000
4            144.0  42.0           164.0              0.0  2.333333  5.000000

   e/m/p\nhrs  sno\n&\nnst  total\nhrs       op%
0    0.000000     6.000000        6.00  0.000000
1    0.000000     6.000000        6.00  0.000000
2    3.900000     2.833333       12.00  0.438889
3    0.250000     0.500000        7.25  0.896552
4    1.583333     1.916667        8.50  0.588235

[5 rows x 26 columns]

['date',
 'shift',
 'tonnes',
 'tonnes\nper\nday',
 'tonnes\nper\ncuthr',
 'tonnes\nper\nophr',
 'metres',
 'metres\nper\nday',
 'metres\nper\ncuthr',
 'metres\nper\nophr',
 'shears',
 'shears\nper\nday',
 'shears\nper\ncuthr',
 'shears\nper\nophr',
 'bolts',
 'bolts\nper\nday',
 'cars',
 'cars\nper\nday',
 'cutting\nheight',
 'cuthr',
 'ophrs',
 'e/m/p\nhrs',
 'sno\n&\nnst',
 'total\nhrs',
 'op%']

In [ ]:
# Build normal regression
feature_list = ['cyclinders', 'displacement', 'hp', 'weight', 'acceleration', 'year', 'origin']
target = 'mpg'
type(bo.build_regression(feature_list=feature_list, target=target))